@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
  --color-primary: #023e84;
  --color-primary-light: #0077b6;
  --color-secondary: #ff6d00;
  --color-secondary-hover: #ff9e00;
  --color-neutral-cream: #ebe6d9;
  --color-neutral-slate: #023e84;
  --color-surface: #ffffff;
}

@layer base {
  body {
    @apply bg-neutral-cream text-slate-900 antialiased;
  }
}
